*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    width: 1700px;
    height: 100vh;
    margin: 0 auto; 
    background-color: #F2F2F2;  
}



.heading{
    display: flex;
    justify-content: space-between;
    
    
    align-items: center;
    margin-top: 24px;
 

}

.heading-text{    
    color: #13183F;
    font-size: 18px;
    margin-top: 24px;
}

.button{
    width: 167px;
    height: 56px;
    background: #13183F;
    border-radius: 28px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #ffffff;
    padding: 14px 31px;
    z-index: 1;
}

.start{
    margin-top: -200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-text{
    width: 457px;
    height: 143px;
    margin: 0;
    font-size: 56px;
    color: #13183F;
    font-style: normal;
    font-size: 56px;
    line-height: 71px;
}

.about-course-text{
    width: 445px;
    height: 84px;
    margin: 0px;
    padding-top: 29px;

    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #83869A;
}

.getstart-button{
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    border-radius: 31.5px;
    border: none;
    padding: 19px 31px 16px 32px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    margin-top: 40px;
}

.hours-members{
    overflow: hidden;
}

.hours-members-image{
    margin-right: -350px;
}
.mobile-image{
    display: none;
}

.second-section{
    margin-top: 129px;
}


.first-row{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.second-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    margin-top: 80px;
}

.detail{
    width: 350px;
    height: 322px;
    background-color: #FFFFFF;
    border-radius: 15px;
}

.detail-first{
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    border-radius: 15px;
    width: 350px;
    height: 322px;
    background-color: #FFFFFF;
}


#checkout-text{
    width: 286px;
    height: 120px;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    color: #FFFFFF;
    text-align: center;
    margin: 63px auto;
    text-align: start;
}

.container-with-images-text{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.content{
    margin-top: 20px;
    margin-left: 32px;
}


.icon{
    width: 56px;
    height: 58px;
    margin-left: 32px;
    margin-top: -29px;
}

.head{
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 30px;
    color: #13183F;
}

.description{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #83869A
}

.container-button{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #F74780;
}

.second-row{
    margin-top: 80px;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 0px;
    height: 120px;
    padding: 0px;
  
    background-color: #13183F;
}

.footer-text{
    color: #ffffff;
    margin-left: 100px;
    font-size: 20px;
}

.footer-button{
    background: linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
    border-radius: 28px;
    padding: 14px 31px;
    margin-right: 100px;
    font-size: 18px;
    color: #ffffff;
    border: none;
}

.button:hover{
    cursor: pointer;
    color: #666CA3;
    opacity: 0.8;
}

.getstart-button:hover{
    cursor: pointer;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    opacity: 0.8;
}

.container-button:hover{
    cursor: pointer;
    color: #FFA7C3;
    opacity: 0.8;
}

.footer-button:hover{
    cursor: pointer;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
    opacity: 0.8;
}

@media (max-width: 768px){
    body{
        width: 768px;
    }
    .heading{
        width: 90%;
        margin-left: 39px;
        margin-top: 31px;
    }
    .about-course{
        width: 92%;
    }
    .about-course-text{
        width: 52%;
        font-size: 16px;
        padding: 0px;
        margin-top: 25px;
    }
    .main-text{
        font-size: 40px;
        width: 49%;
    }
    .start{
        margin-left: 39px;
        margin-top: 105px;
    }
    .hours-members-image{
        width: 640px;
        height: 640px;
        width: 640px;
        height: 640px;
        position: absolute;
        top: -106px;
        left: 350px;
    }
    .getstart-button{
        width: 26%;
        padding: 15px 35px;
        margin-top: 25px;
    }
    .first-row, .second-row{
        display: grid;
        grid-template-columns: auto auto;
        row-gap: 50px;
        margin-left: 39px;
    }
    .head{
        margin-top: 24px;
    }
    .description{
        margin-top: 16px;
    }
    .container-button{
        margin-top: 24px;
    }
    .footer{
        margin-top: 86px;
    }
    .footer-text{
        margin-left: 40px;
    }
    .footer-button{
        margin-right: 40px;
        font-size: 16px;
    }
}

@media (max-width: 375px){
    body{
        width: 375px;
    }
    .heading{
        margin: auto 16px;
        width: 92%;
        margin-top: 22px;
        gap: 107px;
    }
    .button{
        width: 37%;
        height: 48px;
        font-size: 16px;
        padding: 9px;
    }
    .start{
        margin-top: 45px;
        margin-left: 16px;
        display: block;
    }
    .main-text{
        font-size: 40px;
        width: 100%;
    }
    .about-course-text{
        font-size: 16px;
        width: 92%;
    }
    .getstart-button{
        width: 51%;
        padding: 15px 37px;
        font-size: 16px;
    }
    .hours-members{
        display: none;
    }
    .mobile-image{
        display: block;
        width: 70%;
        height: 70%;
        margin: auto;
        margin-top: 70px;
    }
    .second-section{
        margin-top: 66px;
    }
    .first-row, .second-row{
        display: grid;
        grid-template-columns: auto;
        gap: 40px;
        margin-left: 16px;
    }
    .second-row{
        margin-top: 40px;
    }
    .footer-text{
        margin-left: 16px;
        width: 24%;
    }
    .footer-button{
        margin-right: 16px;
        width: 38%;
        padding: 9px 24px;
    }
}


